<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Covid-19 India</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>
        .container {
          display: flex;
          justify-content: center;
          align-items: center;
          padding-top: 50px;
          padding-bottom: 30px;
        }
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        th {
            background-color: #f2f2f2;
        }
        p {

          margin-top: 20px;
        }
      </style>
</head>
<body>
  <nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
    <div class="container-fluid">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="navbar-brand" href="#"><i class="fa-solid fa-database"></i>   Covid-19 India Dashboard</li>
      </ul>
      <ul class="navbar-nav mb-lg-0">
        <li class="navbar-brand" href="/adminLogin"><a class="nav-link active" aria-current="page" href="#"><i class="fa-solid fa-right-to-bracket"></i> Admin</a></li>
      </ul>
    </div>
  </nav>
  <nav class="navbar navbar-expand-lg bg-body-tertiary" style="padding-top: 0px; padding-bottom: 0px;">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mb-lg-0 ml-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">
              Home
            </a>
          </li>
        </ul>
        <ul class="navbar-nav mb-lg-0 ml-auto" style="padding-left: 960px; gap: 2rem;">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/deaths">
              Deaths
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/vaccines">
              Vaccines
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/statistics">
              Statistics
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <hr style="margin-top: 3px; margin-bottom: 0px;  border: transparent;">
  
<div class="container" style="display: flex; justify-content: center; align-items: center; padding-top: 50px; padding-bottom: 30px;">

    <table>
      <tr>
        <th>State/Union Territory</th>
        <th>Deaths</th>
      </tr>
      <tr>
        <td>Andaman and Nicobar Islands</td>
        <td>27,136</td>
      </tr>
      <tr>
        <td>Andhra Pradesh</td>
        <td>2,939,367</td>
      </tr>
      <tr>
        <td>Arunachal Pradesh</td>
        <td>26,799</td>
      </tr>
      <tr>
        <td>Assam</td>
        <td>638,323</td>
      </tr>
      <tr>
        <td>Bihar</td>
        <td>1,093,466</td>
      </tr>
      <tr>
        <td>Bihar****</td>
        <td>18,881</td>
      </tr>
      <tr>
        <td>Cases being reassigned to states</td>
        <td>0</td>
      </tr>
      <tr>
        <td>Chandigarh</td>
        <td>147,694</td>
      </tr>
      <tr>
        <td>Chhattisgarh</td>
        <td>2,063,920</td>
      </tr>
      <tr>
        <td>Dadra and Nagar Haveli</td>
        <td>8</td>
      </tr>
      <tr>
        <td>Dadra Nagar Haveli Daman Diu</td>
        <td>1,014</td>
      </tr>
      <tr>
        <td>Daman & Diu</td>
        <td>0</td>
      </tr>
      <tr>
        <td>Delhi</td>
        <td>4,943,294</td>
      </tr>
      <tr>
        <td>Goa</td>
        <td>447,801</td>
      </tr>
      <tr>
        <td>Gujarat</td>
        <td>2,219,448</td>
      </tr>
      <tr>
        <td>Haryana</td>
        <td>1,502,799</td>
      </tr>
      <tr>
        <td>Himachal Pradesh</td>
        <td>491,348</td>
      </tr>
      <tr>
        <td>Himanchal Pradesh</td>
        <td>3,507</td>
      </tr>
      <tr>
        <td>Jammu and Kashmir</td>
        <td>839,694</td>
      </tr>
      <tr>
        <td>Jharkhand</td>
        <td>748,641</td>
      </tr>
      <tr>
        <td>Karanataka</td>
        <td>36,197</td>
      </tr>
      <tr>
        <td>Karnataka</td>
        <td>6,053,762</td>
      </tr>
      <tr>
        <td>Kerala</td>
        <td>1,888,177</td>
      </tr>
      <tr>
        <td>Ladakh</td>
        <td>45,804</td>
      </tr>
      <tr>
        <td>Lakshadweep</td>
        <td>3,908</td>
      </tr>
      <tr>
        <td>Madhya Pradesh</td>
        <td>1,777,520</td>
      </tr>
      <tr>
        <td>Madhya Pradesh***</td>
        <td>10,506</td>
      </tr>
      <tr>
        <td>Maharashtra</td>
        <td>23,737,432</td>
      </tr>
      <tr>
        <td>Maharashtra***</td>
        <td>130,753</td>
      </tr>
      <tr>
        <td>Manipur</td>
        <td>173,056</td>
      </tr>
      <tr>
        <td>Meghalaya</td>
        <td>101,950</td>
      </tr>
      <tr>
        <td>Mizoram</td>
        <td>9,791</td>
      </tr>
      <tr>
        <td>Nagaland</td>
        <td>58,460</td>
      </tr>
      <tr>
        <td>Odisha</td>
        <td>790,814</td>
      </tr>
      <tr>
        <td>Puducherry</td>
        <td>312,155</td>
      </tr>
      <tr>
        <td>Punjab</td>
        <td>2,785,594</td>
      </tr>
      <tr>
        <td>Rajasthan</td>
        <td>1,473,089</td>
      </tr>
      <tr>
        <td>Sikkim</td>
        <td>53,150</td>
      </tr>
      <tr>
        <td>Tamil Nadu</td>
        <td>5,916,658</td>
      </tr>
      <tr>
        <td>Telangana</td>
        <td>349,648</td>
      </tr>
      <tr>
        <td>Telengana</td>
        <td>400,427</td>
      </tr>
      <tr>
        <td>Tripura</td>
        <td>150,342</td>
      </tr>
      <tr>
        <td>Unassigned</td>
        <td>0</td>
      </tr>
      <tr>
        <td>Uttar Pradesh</td>
        <td>4,143,450</td>
      </tr>
      <tr>
        <td>Uttarakhand</td>
        <td>986,001</td>
      </tr>
      <tr>
        <td>West Bengal</td>
        <td>3,846,989</td>
      </tr>
    </table>
</div>



<p>
  <b>Note:</b>This dataset provides insights into the impact of COVID-19 on various regions of India, highlighting the significant disparities in death tolls across states and union territories. Additionally, it's worth noting the instances of reassigned deaths, which may reflect changes in data reporting or administrative procedures.
</p>

<footer class="bg-dark text-white text-center py-3">
    &copy; 2021 Covid-19 India Dashboard
  </footer>
    
      
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/6eb066ffa6.js" crossorigin="anonymous"></script>
</body>
</html>
